@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #ffffff;
  --clr-primary-2: #24244c;
  --clr-primary-3: #7cbc84;
  --clr-primary-4: #433f63;
  --clr-primary-5:#FFC080;
  --clr-primary-6:#e8d9fe;
  --clr-primary-7:#FFB0C6;
  --clr-primary-8:#C3D4FF;
  --clr-primary-9:#B26FFE;
  --clr-primary-10:#C089FF;
  --clr-primary-11:#97AEDC;
  --clr-primary-12:#d85878;
  --clr-primary-13:#F4F0F3;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Circular Std Book";
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-primary-2);
}

.product-container {
  display: flex;
  background-color:var(--clr-primary-13);
  margin: 35px;
  padding: 35px;
  border-radius: 10px;
  max-width: 1170px;
}

.shadow-free {
  box-shadow: 0px 22px 25px -15px var(--clr-primary-11);
}

.shadow-lite {
  box-shadow: 0px 22px 25px -15px var(--clr-primary-10);
}

.shadow-pro {
  box-shadow: 0px 22px 25px -15px var(--clr-primary-5);
}

@media screen and (max-width: 800px) {
  .product-container {
    display: block;
    margin: 25px;
    padding: 5px;
  }
  #product,#custom-shadow-lite,#custom-shadow-pro{
    padding:1px;
  }
  li {
    line-height: 1.6;
  }
}